body {
  padding: 0;
  margin-top: 124px;
}

.flex-container {
  display: flex;
  justify-content: space-between; /* Separate the flex boxes by 36px */
  margin-top: 124px;
}

.flex-box {
  display: flex;
  margin-top: 124px;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow */
  padding: 20px; /* Add some padding around each flex box */
  border-radius: 8px; /* Add border-radius for rounded corners */
  max-width: calc(33.333% - 36px); /* Display the flex boxes in line and separate by 36px */
  flex: 1;

  img {
    width: 100px; /* Adjust the image width as needed */
    height: 75px; /* Adjust the image height as needed */
    margin-right: 12px;
    object-fit: cover;
  }

  .text-box {
    flex: 1;

    h2 {
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 20px;
    }

    .primary-button {
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}
