<!DOCTYPE html>
<html>
<head>
  <title>Home Page</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="body-container">
    <div class="container">
      <div class="image">
        <img src="https://res.cloudinary.com/difj9msh3/image/upload/v1691094570/remake1_hguhjv.jpg" alt="Image 1">
      </div>
      <div class="text-box">
        <h2>Container 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <button class="primary-button">Read More</button>
    </div>
    <div class="container">
      <div class="image">
        <img src="image2.jpg" alt="Image 2">
      </div>
      <div class="text-box">
        <h2>Container 2</h2>
        <p>Sed laoreet dolor nec tellus venenatis, et aliquet lectus semper.</p>
      </div>
      <button class="primary-button">Read More</button>
    </div>
    <div class="container">
      <div class="image">
        <img src="image3.jpg" alt="Image 3">
      </div>
      <div class="text-box">
        <h2>Container 3</h2>
        <p>Fusce nec ipsum sit amet turpis fermentum bibendum.</p>
      </div>
      <button class="primary-button">Read More</button>
    </div>
  </div>
</body>
</html>
