<!DOCTYPE html>
<html>
<head>
  <title>Home Page</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="flex-container">
    <div class="flex-box">
      <img src="image 1" alt="Picture 1">
      <div class="text-box">
        <h2>Heading 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor odio id nisi facilisis lacinia.</p>
        <button class="primary-button">Read More</button>
      </div>
    </div>
    <div class="flex-box">
      <img src="picture2.jpg" alt="Picture 2">
      <div class="text-box">
        <h2>Heading 2</h2>
        <p>Sed laoreet dolor nec tellus venenatis, et aliquet lectus semper. Vestibulum sit amet tellus non elit bibendum tincidunt.</p>
        <button class="primary-button">Read More</button>
      </div>
    </div>
    <div class="flex-box">
      <img src="picture3.jpg" alt="Picture 3">
      <div class="text-box">
        <h2>Heading 3</h2>
        <p>Fusce nec ipsum sit amet turpis fermentum bibendum. Integer consectetur diam vel lorem convallis tempus.</p>
        <button class="primary-button">Read More</button>
      </div>
    </div>
  </div>
</body>
</html>
