@import "bootstrap/scss/bootstrap";

body {
  background-image: url("https://res.cloudinary.com/difj9msh3/image/upload/c_scale,w_1539,z_1/v1690751835/Screenshot_2023-07-21_at_20.49.45_cyicem_eblwnj.jpg");
  margin-top: 12px;
  margin-left: 16px;
  margin-right: 16px;
  padding: auto;
  width: 100%;
  display: block;
  box-sizing: border-box;
}

.navbar {
  background-color: rgb(255, 255, 255);
  padding: 18px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 12px;
  border-radius: 5px;
  z-index: 1000;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.navbar-brand {
  float: left;
}

.navbar-project {
  color: #000000;
  text-decoration: none;
  font-family: var(--bs-body-font-family);
  font-size: 50;
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  margin-left: 12px;
}

.navbar-links {
  float: left;
  margin-left: 20px;
}

.navbar-link {
  color: #000000;
  text-decoration: none;
  margin-right: 16px;
}

.navbar-dropdown {
  float: right;
}

.dropdown-toggle {
  background-color: transparent;
  border: none;
  color: #000000;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  margin-right: 24px;
}

.dropdown-item {
  display: block;
  color: #333;
  text-decoration: none;
  margin-bottom: 8px;
}

.dropdown-toggle:focus + .dropdown-menu {
  display: block;
}

textarea.form-control {
  resize: vertical;
}

.footer {
  background-color: rgb(255, 255, 255);
  color: #fff;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: 0%;
  z-index: 1000;
  border-radius: 5px;
  left: 0%;
}

.social-links {
  display: flex;
  justify-content: center;

  a {
    display: block;
    margin: 0 10px;
    transition: transform 0.3s;

    img {
      width: 40px;
      height: 40px;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
